{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static './css/header.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link rel="stylesheet" href="{% static './css/main__index.css' %}" />
    
    <title>Café Purrfection</title>

    {% include '__header.html' %}
  </head>
  <body>
    {% include '__main-index.html' %}
    
  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>
