{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% include '__header.html' %}
</head>

<body>
  <h1 class="produto__h1">Lista de Produtos</h1>
  <ul class="produto__ul">
    {% for product in product %}
    <li class="produto__li">
      <a href="{% url 'produto_s' product.id %}">
      <div class="produto-img">
        <img src="{{ product.image.url }}">
      </div>
      <div class="produto_descri">
        <h2 class="produto__h2">{{ product.name }}</h2>
        <p class="produto__p-item">Preço: R$ {{ product.price }}</p>
        <p class="produto__p-item">Estoque: {{ product.stock }}</p>
        </a>
    </li>
    </div>
    {% empty %}
    <p class="produto__p">Nenhum produto encontrado.</p>
    {% endfor %}
  </ul>
</body>

</html>