{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static './css/header.css' %}">
</head>
<header class="header">
    <div class="header_container">
        <div class="header_content">
            <div class="header_logo">
                <img src="{% static 'imgs/neko.svg' %}" alt="" />
                <a href="#">CatCafé Purrfection</a>
            </div>
            <nav class="header_links">
                <ul class="links_container">
                    <ul class="link">
                        <li class="hyper">
                            <a href="{% url 'produtos' %}">Products</a>
                        </li>
                        <li class="hyper">
                            <a href="#">About</a>
                        </li>
                    </ul>
                    <li>
                        <a href="">
                            <i class="whatsapp fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="instagram fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="twitter fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                </ul>
                <div class="container-burgue">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </nav>
        </div>
    </div>
</header>

</html>