@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  list-style: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

::selection {
  color: #fff;
  background: #fbbf24;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

